.description {
  color: white;
  display: flex;
  align-items: center;
}
.description .logo {
  width: 150px;
}
.description .title {
  font-style: italic;
}
.absolute-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 30%;
}
.carousel-item img {
  height: 350px;
  object-fit: cover;
}
#galeryCarousel .carousel-item:after {
  z-index: 1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.5)),
    color-stop(100%, rgba(0, 0, 0, 0.5))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  ); /* W3C */
}
@media (max-width: 800px) {
  .carousel-item img {
    height: 300px;
    object-fit: cover;
  }
  .description {
    flex-direction: column;
    align-items: center;
  }
  .description .logo {
    width: 120px;
  }
  .absolute-wrapper {
    top: 30%;
  }
  .content {
    text-align: center;
  }
  .content .title {
    font-size: 1.5em;
  }
  .ms-slider__word {
    text-align: center;
  }
}
