html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-image: url("/assets/img/bg.png");
}
::root {
  --yellow: #fcb813;
}
.bg-yellow {
  background-color: #fcb613c0;
}
.navbar {
  transition: 0.2s all ease;
}
.bold {
  font-weight: bold;
}
.semiBold {
  font-weight: 600;
}
.navbar-brand {
  margin: 0;
}
.activity-card {
  min-height: 200px;
  transition: all 0.2s ease;
  border-radius: 12px;
}
.activity-card:hover {
  transform: scale(1.03);
  transition: all 0.2s ease;
}
.activity-card .card-header {
  padding: 1.3em 0;
  border-radius: 12px 12px 0 0;
}
.card-title {
  margin: 0;
}
footer {
  background-color: var(--light);
  padding-top: 1.5em;
}
footer a {
  color: black;
  transition: all 0.2s ease;
}
footer a:hover {
  color: var(--yellow);
  text-decoration: none;
  transition: all 0.2s ease;
}
.social-media {
  font-size: 3em;
  margin-right: 0.2em;
}
nav.bg-transparent {
  /* padding: 1em 0; */
  transition: all 0.2s ease;
}
nav.bg-transparent .navbar-brand {
  font-size: 1.2em;
  padding: 1em 0;
  transition: all 0.2s ease;
}
.bg-transparent:after {
  z-index: -1;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 100%);
}
@media (max-width: 780px) {
  .section-title {
    font-size: 2em;
  }
  nav.bg-transparent .navbar-brand {
    font-size: 1em;
    padding: 0;
    transition: all 0.2s ease;
  }
}
