html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
::-moz-selection {
  color: white;
  background: #ecc94b;
}

::selection {
  color: white;
  background: #ecc94b;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 600px) {
  #nprogress .spinner {
    display: none;
  }
}
