html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
::-moz-selection {
  color: white;
  background: #ecc94b;
}

::selection {
  color: white;
  background: #ecc94b;
}
html {
  scroll-behavior: smooth;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
