.ms-slider {
  font-size: 1.5em;
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(white),
    color-stop(white),
    color-stop(white),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(
    transparent,
    white,
    white,
    white,
    transparent
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(white),
    color-stop(white),
    color-stop(white),
    to(transparent)
  );
  mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}
.ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
  animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.ms-slider__word {
  display: block;
  line-height: 1.3em;
  text-align: left;
}

@-webkit-keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}

@keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}
